p {
  margin-bottom: 0;
  width: fit-content;
}

.bg-orange {
  background-color: #FF6600;
}

.bg-orange-light {
  background-color: #FFEADC;
}

.bg-orange-light-2 {
  background-color: #FFF6F1;
}

.bg-pink {
  background-color: #FF8780;
}

.bg-grey-light {
  background-color: #F5F7FC;
}
.bg-white {
  background-color: #FFFF !important;
}

.color-orange {
  color: #FF6600;
}

.color-orange-light {
  color: #FFEADC;
}

.color-orange-light-2 {
  color: #FFF6F1;
}

.color-pink {
  color: #FF8780;
}

.color-grey {
  color: #808080;
}
.float-right{
    float: right;
}
.bold-text {
    font-weight: 500;
}
